/* --- CSS RESET START ---*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --- CSS RESET END ---*/

:root {
  --primaryColor: #f2f2f2;
  --primaryTextColor: #0d0d0d;
  --projectBgColor: #203f59;
  --xInfoBgColor: #011640;
  --searchBarColor: #8c7472;
  @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
}

html {
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--primaryColor);
  display: flex;
  border: 1px solid var(--primaryTextColor);
}

/* SIDEBAR */

p {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 3rem;
  padding-bottom: 3rem;
  border-radius: 5px;
}

.sidebar {
  width: 25vw;
  height: 100vh;
  border-right: 1px solid var(--primaryTextColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.sidebar-heading {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  gap: 2rem;
  font-size: 4.5rem;
}

.material-symbols-outlined {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: var(--projectBgColor);
}

a:active {
  color: var(--primaryTextColor);
}

a:hover {
  color: var(--primaryColor);
  background-color: var(--xInfoBgColor);
}

/* MAIN CONTENT */

/* Heading */

.main-content {
  width: 75vw;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primaryTextColor);
}

.profile {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--xInfoBgColor);
}

.name-text {
  font-size: 1.8rem;
}

.search-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

.profile-picture {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

input {
  width: 25vw;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid var(--primaryTextColor);
  border-radius: 1rem;
  background-color: var(--searchBarColor);
  color: var(--primaryColor);
}

/* Projects */

.projects {
  width: 45vw;
  display: grid;
  grid-template-columns: 20vw 20vw;
  gap: 1.5rem;
  font-size: 1.5rem;
  padding: 2rem;
}

.project {
  padding: 2rem;
  text-align: center;
  background-color: var(--projectBgColor);
  color: var(--primaryColor);
  border-radius: 6px;
}

h3 {
  padding: 2rem;
  font-size: 2rem;
}

.projects a {
  color: var(--searchBarColor);
}

.projects a:hover {
  color: var(--primaryTextColor);
  background-color: var(--primaryColor);
}

.projects a:active {
  color: var(--searchBarColor);
}

.project-content-area {
  display: flex;
  flex-direction: column;
}

.twitter-timeline {
  padding-top: 4vh;
  padding-right: 2vw;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
